<!DOCTYPE html> 
<html>
<head>
<meta charset="UTF-8">
<title>ZHUMUSH.KG</title>
<link href="css/jum.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="a1"> 
<h5 class="a2">zhm.kg</h5>
</div>
<div class="j1">
     <a id="aa" href="index.html">Продажа машина</a>
     <a id="aa1" href="a2.html">Покупка машина</a>
	 <a id="aa2" href="a3.html">Помощ сайт</a>

	 <a id="aa4" href="a5.html">Проект</a>
	 <a id="aa5" href="a6.html">Регистрация</a>
	 
</div>	
<br>
<div id="123">
<div class="aa">
<details>  
<summary><u>Марка</u></summary>
<ul class="de1">
<li>Мерс</li>
<li>Хонда</li>
<li>Тайота</li>
<li>Ауди</li>
<li>Субару</li>
<ul/>
</details>
  </div>
  <div id="aaa">
  <p class="sattext"></p>

    <table>
  <tr> 
<td> <div class="Person1" ng-repeat="item in list.items">
	<p class="ad1"></p>
	<div class="as1">
	<p><b id="aq1">Модель:</b> {{item.a}}</p>
	<p><b id="aq1">Цена:</b> {{item.b}}</p>
	<p><b id="aq1">Телефон:</b> {{item.c}}</p>
	</div>
</div> </td>
<td> <div class="aa2" >
	<p class="ad2"></p>
	<div class="as2">
	<p><b id="aq1">Жумуш:</b>Сатуу</p>
	</div>
</div> </td>
<td> <div class="aa3" >
<p class="ad3"></p>
<div class="as3"></div>
</div> </td>
<td> <div class="aa4" >
<p class="ad4"></p>
<div class="as4"></div>
</div> </td></tr><tr>
<td> <div class="Person1" ng-repeat="item in list.items">
	<p class="ad1"></p>
	<div class="as1">
	<p><b id="aq1">Жумуш:</b> {{item.a}}</p>
	<p><b id="aq1">Төлөнүүчү акы:</b> {{item.b}}</p>
	<p><b id="aq1">Телефон:</b> {{item.c}}</p>
	</div>
</div> </td>
<td> <div class="Person1" ng-repeat="item in list.items">
	<p class="ad1"></p>
	<div class="as1">
	<p><b id="aq1">Жумуш:</b> {{item.a}}</p>
	<p><b id="aq1">Төлөнүүчү акы:</b> {{item.b}}</p>
	<p><b id="aq1">Телефон:</b> {{item.c}}</p>
	</div>
</div> </td>
<td> <div class="Person1" ng-repeat="item in list.items">
	<p class="ad1"></p>
	<div class="as1">
	<p><b id="aq1">Жумуш:</b> {{item.a}}</p>
	<p><b id="aq1">Төлөнүүчү акы:</b> {{item.b}}</p>
	<p><b id="aq1">Телефон:</b> {{item.c}}</p>
	</div>
</div> </td>
<td> <div class="Person1" ng-repeat="item in list.items">
	<p class="ad1"></p>
	<div class="as1">
	<p><b id="aq1">Жумуш:</b> {{item.a}}</p>
	<p><b id="aq1">Төлөнүүчү акы:</b> {{item.b}}</p>
	<p><b id="aq1">Телефон:</b> {{item.c}}</p>
	</div>
</div> </td>
  </tr>
  </table>

  </div> 
</div>
 
</body>
</html>
